{% extends "templates/base.html" %}

{% block content %}
  <div class="container-xl py-3">
    <div class="d-flex flex-wrap justify-content-center" style="gap: 10px;">
      <a href="https://view.flodesk.com/emails/65e792d71caf744c3a71b378" class="text-decoration-none" target="_blank">
        <div class="card h-100" style="min-height: inherit">
          <img src="https://usercontent.flodesk.com/a8c6cab8-e73a-41ba-bede-94e518dccfb0/upload/87805929-a3ae-45c4-94bc-3591b022f9fa.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title fw-bold">Veggie Spotlight: Onions</h3>
            <p class="card-text">What are the differences between red, white, and yellow onions? Can I avoid Crying?</p>
          </div>
        </div>
      </a>
      <a href="https://view.flodesk.com/emails/65fb0e88708082f815b464af" class="text-decoration-none" target="_blank">
        <div class="card h-100" style="min-height: inherit">
          <img src="https://usercontent.flodesk.com/a8c6cab8-e73a-41ba-bede-94e518dccfb0/upload/8191ae0c-6704-4df5-8e52-8a8bc380ee4a.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title fw-bold">Veggie Spotlight: Kale</h3>
            <p class="card-text">How do I pick the best kale? What are ways to eat kale?</p>
          </div>
        </div>
      </a>
      <a href="https://view.flodesk.com/emails/6603402b62143956984827f2" class="text-decoration-none" target="_blank">
        <div class="card h-100" style="min-height: inherit">
          <img src="https://usercontent.flodesk.com/a8c6cab8-e73a-41ba-bede-94e518dccfb0/upload/e085c82c-4e47-4574-b4b0-7cae99b72ff9.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title fw-bold">Veggie Spotlight: Leeks</h3>
            <p class="card-text">Here is what to do with those fresh leeks you see at the store!</p>
          </div>
        </div>
      </a>

      <a href="https://view.flodesk.com/emails/660c39c71b174e5be14730a0" class="text-decoration-none" target="_blank">
        <div class="card h-100" style="min-height: inherit">
          <img src="https://usercontent.flodesk.com/a8c6cab8-e73a-41ba-bede-94e518dccfb0/upload/32e241ed-2de3-460a-aa61-c6afd0357e93.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title fw-bold">Veggie Spotlight: Butternut Squash</h3>
            <p class="card-text">How to use butternut squash outside of just roasting</p>
          </div>
        </div>
      </a>

      <a href="https://view.flodesk.com/emails/6615d26abe30196ef22d9ddb" class="text-decoration-none" target="_blank">
        <div class="card h-100" style="min-height: inherit">
          <img src="https://usercontent.flodesk.com/a8c6cab8-e73a-41ba-bede-94e518dccfb0/upload/adb7e491-7ebc-4b45-9e6b-59b1f976de11.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title fw-bold">Veggie Spotlight: Asparagus</h3>
            <p class="card-text">Everything you need to know about asparagus to buy and cook in your own home</p>
          </div>
        </div>
      </a>

      <a href="https://view.flodesk.com/emails/661ffa5de4ccfd05eca86779" class="text-decoration-none" target="_blank">
        <div class="card h-100" style="min-height: inherit">
          <img src="https://usercontent.flodesk.com/a8c6cab8-e73a-41ba-bede-94e518dccfb0/upload/df78a40c-34db-452d-8075-245d175c01bd.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title fw-bold">Veggie Spotlight: Potatoes</h3>
            <p class="card-text">Did you know there are starchy and waxy white potatoes? What is the difference between the two?</p>
          </div>
        </div>
      </a>

      <a href="https://view.flodesk.com/emails/66283a5428a7e5f04ade023f" class="text-decoration-none" target="_blank">
        <div class="card h-100" style="min-height: inherit">
          <img src="https://usercontent.flodesk.com/a8c6cab8-e73a-41ba-bede-94e518dccfb0/upload/686f4b52-1c5d-40ee-8c5a-2be8a82a45ee.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title fw-bold">Veggie Spotlight: Radish</h3>
            <p class="card-text">Radishes can be so much more than a garnish!</p>
          </div>
        </div>
      </a>

      <a href="https://view.flodesk.com/emails/663276e3394170ba335a498e" class="text-decoration-none" target="_blank">
        <div class="card h-100" style="min-height: inherit">
          <img src="https://usercontent.flodesk.com/a8c6cab8-e73a-41ba-bede-94e518dccfb0/upload/5566538e-978e-4ac3-9c49-fe5de014b30b.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title fw-bold">Veggie Spotlight: Cabbage</h3>
            <p class="card-text">Think you don't like cabbage? Read this article and try cooking a new cabbage recipe!</p>
          </div>
        </div>
      </a>
      <a href="https://view.flodesk.com/emails/663a568632206fb8adc505dd" class="text-decoration-none" target="_blank">
        <div class="card h-100" style="min-height: inherit">
          <img src="https://usercontent.flodesk.com/a8c6cab8-e73a-41ba-bede-94e518dccfb0/upload/a048c81b-8110-4f01-b11d-26c43918a853.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title fw-bold">Veggie Spotlight: Sweet Potato</h3>
            <p class="card-text">What is the difference between a sweet potato and a yam?</p>
          </div>
        </div>
      </a>

      <a href="https://view.flodesk.com/emails/663a56a1b5a0ac8c737bfb70" class="text-decoration-none" target="_blank">
        <div class="card h-100" style="min-height: inherit">
          <img src="https://usercontent.flodesk.com/a8c6cab8-e73a-41ba-bede-94e518dccfb0/upload/63890cf6-f43c-47c9-b743-2f52b8f96904.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title fw-bold">Veggie Spotlight: Carrots</h3>
            <p class="card-text">Baby carrots don't exist!</p>
          </div>
        </div>
      </a>

      <a href="https://view.flodesk.com/emails/663a56af7464ef8193667560" class="text-decoration-none" target="_blank">
        <div class="card h-100" style="min-height: inherit">
          <img src="https://usercontent.flodesk.com/a8c6cab8-e73a-41ba-bede-94e518dccfb0/upload/dvgb59jgqq/405d0f7f-34ce-4b18-88d9-917b0c7aa74f.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title fw-bold">Veggie Spotlight: Strawberries </h3>
            <p class="card-text">Seasonality matters for flavor!</p>
          </div>
        </div>
      </a>

      <a href="https://view.flodesk.com/emails/66576e768e52b589b2fe8de1" class="text-decoration-none" target="_blank">
        <div class="card h-100" style="min-height: inherit">
          <img src="https://usercontent.flodesk.com/a8c6cab8-e73a-41ba-bede-94e518dccfb0/upload/kdb49zk4us/ca1bef1c-f273-4197-99f5-19b90733fadb.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title fw-bold">Veggie Spotlight: English Peas</h3>
            <p class="card-text">Peas are in season but did you know this about frozen pea's?</p>
          </div>
        </div>
      </a>

      <a href="https://view.flodesk.com/emails/66609711913179a34699ec90" class="text-decoration-none" target="_blank">
        <div class="card h-100" style="min-height: inherit">
          <img src="https://usercontent.flodesk.com/a8c6cab8-e73a-41ba-bede-94e518dccfb0/upload/swgwo5b41a/35e204dc-d5cc-4fbb-a25b-9f6f587f3193.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title fw-bold">Veggie Spotlight: Zuchinni</h3>
            <p class="card-text">Did you know Zucchini can be eaten raw?</p>
          </div>
        </div>
      </a>

      <a href="https://view.flodesk.com/emails/666885f73a0b30d63fa7a955" class="text-decoration-none" target="_blank">
        <div class="card h-100" style="min-height: inherit">
          <img src="https://usercontent.flodesk.com/a8c6cab8-e73a-41ba-bede-94e518dccfb0/upload/z3s1do8mn5/875c2371-6ce3-45d0-af8f-7ac55bd94e30.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title fw-bold">Veggie Spotlight: Peaches</h3>
            <p class="card-text">It is Peach Season! (June-August)</p>
          </div>
        </div>
      </a>

      <a href="https://view.flodesk.com/emails/667493326fa62ef365736d46" class="text-decoration-none" target="_blank">
        <div class="card h-100" style="min-height: inherit">
          <img src="https://usercontent.flodesk.com/a8c6cab8-e73a-41ba-bede-94e518dccfb0/upload/i265manef1/7a237bce-67e8-4db1-a185-ccb187f868f3.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title fw-bold">Veggie Spotlight: Cucumber</h3>
            <p class="card-text">How many varieties of cucumbers can you name?</p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <!-- <div class="container-xxl"> -->
  <!--   <div class="row my-5"> -->
  <!--     <div class="col-lg-6 d-flex justify-content-center"> -->
  <!--       <img src="images/virtual cooking class.png" height=500></img> -->
  <!--     </div> -->

  <!--     <div class="col-lg-6"> -->
  <!--       <h1 id="virtual-cooking-classes">Virtual Cooking Classes</h1> -->
  <!--       <h2>How it works</h2> -->
  <!--       <ul> -->
  <!--         <li>Virtual Cooking classes are hosted via zoom.</li> -->
  <!--         <li>After signing up for a class, you will receive the recipe, list of ingredients and equipment needed as well as any other important information ahead of the class.</li> -->
  <!--         <li>Virtual classes are typically hands-on and we cook everything together step by step with time to ask questions along the way.</li> -->
  <!--         <li>Virtual cooking classes are typically small class sizes leading to lots of room to ask questions.</li> -->
  <!--       <ul> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->
{% endblock content %}

