{% extends "templates/base.html" %}

{% block content %}
  <div class="w-100 py-5">
    <div class="container-xxl">
      <div class="col-12 col-lg-6 offset-lg-6 text-center">
        <h1 class="fw-bolder" id="in-person-cooking-classes" style="font-size: 2.8rem;">In-Person Cooking Classes</h1>
      </div>
      <div class="row gy-5">

        <div class="col-lg-6 d-flex justify-content-center">
          <img class="img-fluid object-fit-contain rounded-3" src="images/davis-coop-kitchen2.jpg" width=auto style="max-height: 500px"></img>
        </div>

        <div class="col-lg-6 d-flex justify-content-center flex-column align-items-center">
          <div>
            <p>Learn to cook wholesome food with in-person hands on cooking classes.</p>
            <ul>
              <li>No prep, planning, or cleaning up necessary</li>
              <li>Enjoy a portion of food to eat or take home</li>
              <li>Learn new cooking skills</li>
            </ul>
            <p>Currently serving the greater Sacramento and Davis area.</p>
          </div>
          <a href="https://www.eventbrite.com/o/davis-food-co-op-23038047314" class="btn btn-forest btn-lg rounded-pill mt-4 fw-bold fs-3">Calendar of upcoming events</a>
        </div>

      </div>
    </div>
  </div>

  <div class="bg-nude w-100 py-5">
    <div class="container-xxl">
      <div class="col-12 col-lg-6 offset-lg-6 text-center">
        <h1 class="fw-bolder" id="private-cooking-classes" style="font-size: 2.8rem;">Private Cooking Classes</h1>
      </div>
      <div class="row gy-5">
        <div class="col-lg-6 d-flex justify-content-center order-1 order-md-2">
          <img class="img-fluid object-fit-contain rounded-3" src="images/Cutting Demo1_A7_00814.jpg" width=auto style="max-height: 500px"></img>
        </div>

        <div class="col-lg-6 d-flex justify-content-center flex-column align-items-center order-2 order-md-1">

          <div>
            <p>
            Private cooking classes are the perfect way to learn and cook exactly what you want or host a small private event. With private classes you have the ability to customize not only the food but also how hands on you want to be.
            </p>

            <p>Private classes are great for:</p>
            <ul>
              <li>Learning a specific technique or meal</li>
              <li>Team Bonding Events. (Salsa showdown anyone?)</li>
              <li>Small group/events (Bachelorette parties)</li>
              <li>Date Nights</li>
            </ul>
          </div>

          <a href="mailto:wholesomehomecook@gmail.com" class="btn btn-forest btn-lg rounded-pill mt-4 fw-bold fs-3">Schedule your next private cooking class!</a>
        </div>
      </div>
    </div>
  </div>

  <div class="text-dark w-100 py-5">
    <div class="container-xxl">
      <div class="text-dark w-100 pt-5">
        <div class="col-12 col-lg-6 offset-lg-6 text-center">
          <h1 class="fw-bolder" id="virtual-cooking-classes" style="font-size: 2.8rem;">Virtual Cooking Classes</h1>
        </div>
        <div class="row mb-5 gy-5">

          <div class="col-lg-6 d-flex justify-content-center">
            <img class="img-fluid object-fit-contain rounded-3" src="images/virtual cooking class.png" width=auto style="max-height: 500px"></img>
          </div>

          <div class="col-lg-6 d-flex justify-content-center flex-column align-items-center">
            <div>
              <ul>
                <li>Hands on cooking classes via Zoom</li>
                <li>Virtual community of like minded home cooks</li>
                <li>Small class sizes for easy customization and questions</li>
              </ul>

              <h2 class="mt-4">Why Virtual Classes Work</h2>
              <ul>
                <li>Learn to cook wholesome food in your own home</li>
                <li>Practice using your own kitchen equipment</li>
                <li>No need to travel or drive anywhere</li>
                <li>You get to enjoy ALL of the food</li>
                <li>Recorded classes - allows you to revisit at any time.</li>
              <ul>

            </div>

            <a href="mailto:wholesomehomecook@gmail.com" class="btn btn-forest btn-lg rounded-pill mt-4 fw-bold fs-3">Inquire about Virtual Cooking Classes</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="bg-nude text-dark w-100 py-5">
    <div class="container-xxl">
      <div class="col-lg-6 text-center">
        <h1 class="fw-bolder" id="small-event-catering" style="font-size: 2.8rem;">Small Event Catering</h1>
      </div>
      <div class="row gy-5">
        <div class="col-lg-6 d-flex justify-content-center flex-column align-items-center order-2 order-md-1">
          <p>Let the Wholesome Home Cook make food for your next event!</p>
          <div class="row">
            <div class="col-lg-6">
                <p class="h4">Common Events</p>
                <ul>
                  <li>Birthdays</li>
                  <li>Bridal Showers</li>
                  <li>Bachelorette/Bachelor Parties</li>
                  <li>Baby showers</li>
                  <li>Retreats</li>
                  <li>Picnic/Camping trips</li>
                </ul>
              </div>

              <div class="col-lg-6">
                <p class="h4">Common items requested</p>
                <ul>
                  <li>Pasta Salad</li>
                  <li>Seasonal grain salads</li>
                  <li>Fresh seasonal Salads with homemade dressings</li>
                  <li>Cookies</li>
                  <li>Handheld desserts</li>
                  <li>Sandwiches</li>
                  <li>Charcuterie boards</li>
                </ul>
              </div>
            </div>
            <a href="mailto:wholesomehomecook@gmail.com" class="btn btn-forest btn-lg rounded-pill mt-4 fw-bold fs-3">Inquire for your next catering event</a>
          </div>

          <div class="col-lg-6 d-flex justify-content-center order-1 order-md-2">
            <img class="img-fluid object-fit-contain rounded-3" src="images/Tabledisplay2_VCA_7417.jpg"  width=auto style="max-height: 500px"></img>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

