<div class="bg-burgundy w-100">
  <div class="container-xl py-5">
    <div class="row text-center text-light">
      <div class="col">
        <p class="h4">Get in contact with us
          <a class="text-nude" href="mailto:wholesomehomecook@gmail.com">wholesomehomecook@gmail.com</a>
        </p>
      </div>
      <div class="col">
        <a href="https://www.instagram.com/thewholesomehomecook/" class="text-nude"><i class="fa-brands fa-instagram fa-2x"></i>Instagram</a>
      </div>
    </div>
  </div>
</div>
